/* remove all default css from browser, etc. */
* {
	padding: 0;
	margin: 0; 
}

/* style the canvas to make it look different than white background */
canvas {
	background: #eee; 
	display: block; 
	margin: 0 auto;
}